/* :root {
    --primary-color: #FF6C0c;
    --secondary-color: #3c3c3c;
    --tertiary-color: #4b4b4b;
  } */

:root {
  --primary-color: #12a8ce;
  --secondary-color: #444;
  --tertiary-color: #333;
}